*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #ffbbe0;
   user-select: none;
}

.container {
   width: clamp(200px, 90vw, 500px);
   max-height: 500px;
   background-color: rgb(225, 159, 230);
   border-radius: 50px 50px 100% 100%;
   padding: 25px 30px 50px 30px;

   display: grid;
   grid-template-rows: 1fr;

   position: relative;
   transition: grid-template-rows 0.3s, filter 1s;
}

.container.shrunk {
   grid-template-rows: 0fr;
   transition: 0.3s;
}

.container.shrunk .fact {
   transform: scale(0);
   opacity: 0;
}

.fact {
   font-size: 25px;
   overflow: hidden;
   font-family: cursive;
   text-align: center;
   transform: scale(1);
   opacity: 1;
   transform-origin: top;
   transition: 0.3s;
}

.randomizer {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, 50%);

   aspect-ratio: 1/1;
   width: calc(2.5rem + 2vw);
   min-width: 3.5rem;
   border-radius: 45%;
   font-size: 1.3rem;
   border: none;
   background-color: rgb(190, 133, 197);
   display: flex;
   justify-content: center;
   align-items: center;
   transition: filter 1s;
}

.container.shrunk,
.container.shrunk .randomizer {
   filter: grayscale(50%);
}